html{
  font-family: 'Comfortaa', cursive;
  color: #8E8D8A;
}


body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;


}
#sitecont{
  max-width: 1000px;


}



/* Page theme... font sizing and color */
body{
background-color: #EAE7DC;

}
a{
  color:#8E8D8A;
  text-decoration: none;
  font-weight: bold;
}
a:active, a:after{
  color: #E85A4F;
}


h1{
  font-size: 2.5rem;
  color: #e98074;
}
h2{
  font-size: 2rem;
  color: #e98074;
}

h3{

}
h4{
  font-size: 1.4rem;
  color: #e98074;

}
h5{
  font-size: 1.1rem;
  color: #e98074;
}
p{
  font-size:1rem;
  color: #8E8d8A;

}

a{
  color: #8e8d8a;
  font-weight: bold;
  font-size: 1.2rem;
}


/* Header section */

header{
  width: 100%;
  margin: 0;
  padding: 2rem 0 0 0;
  height: 64px;
  display: flex;
  justify-content: center;

}
.header-cont{
  width: 80%;
  max-width: 3000px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;

}

.menubar{
  z-index: 100;
  display: flex;
  height: auto;
  align-items: center;





}

.logo img{
  width: auto;
  height: 5rem;
  margin: 1.3rem 1rem 0.5rem 0;

}

.logo{
  display: flex;
  align-items: center;
}

.logo #colmar{
  margin: 0 0 0 0;
  padding: 1rem 0 0 0;
  color: #E85A4F;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;

}

.logo #academy{
  margin:0 0 0 0;
  padding:0 0 0.5rem 0;
  color: #E85A4F;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}

.menubar a{
  padding:  ;
  margin: 0.5rem;
  text-decoration: none;
}
.menubar a:hover{
  color: #e98074;
  font-size: 1.3rem;
  transition: color 0.5s ease-out;
  transition: font-size 0.5s ease-out;

}







.mobileicons{
  display:none;
}

@media screen and (max-width:480px){

  .menubar{
    display: none;
  }
  .logo h1{
    display: none;
  }
  .mobileicons{
    display: inline-block;
  }
  .mobileicons img:active{
    opacity: 0.5;
  }
  .logo img:active{
    opacity: 0.5;
  }
}

/* Learn something section */

.container1{
  margin: 5rem 0 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container1a{
  margin: 32px 24px;
  display: flex;
  flex-direction: row;
  justify-content:;
}
.container1a img{
  width: 50%;
  height: auto;
  max-height: 500px;
  flex-shrink: 4;


}

.container1a .textcont{
  padding: 0;
  margin: 0 0 0 2.5rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: hidden;

}

}
.container1a .textcont h1{
  font-size: 2.5rem;
  font-weight: bold;
}

.container1a .textcont p{
  font-size: 1.5rem;
  margin: 0 0 15% 0;
}

.container1a .textcont .button{
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 8px 0 8px 0;
}
 .button a:visited, .button a{

  text-decoration: none;
  padding: 8px 0;
  font-size: 1.2rem;

}

.button{
  background-color: #d8cea5;
}
.button:hover{
  background-color: #8e8d8a;
  transition: background-color 0.5s ease-out;

}
.button:hover a{
  color:#d8c3a5;
  transition: color 0.5s ease-out;
}


/* Learn Something - >480px mobile */


@media screen and (max-width:480px){
  .container1{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
  }

  .container1a .textcont{
    width: 100%;
  }

  .container1a{
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: ;
  }
  .container1a img{
    width: 100%;
    height: auto;
  }

  .container1a .textcont{
    padding: 0;
    margin: 32px 16px;
    align-self: left;
    display: flex;
    flex-direction: column;

  }
  .container1a .textcont .button{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 8px 0 8px 0;
  }
  .button a:visited, a{

    text-decoration: none;
  }
  .container1a .button{
    margin: 24px 0 32px 0;

  }
  .container1a h1{
    font-size: 2rem;
  }

}

/* Keep Practicing Section */

.container2{
  width: 100%;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;

}
.container2a{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;

}
.container2aleft{
  width: 60%;
  margin: 32px 24px;
}
.container2aright{
  width:40%;
  margin: 1rem 0 0 0;
  padding: 0;

}



.container2aleft img{
  width: 100%;
  margin: 0;
  padding: 0;


}

.eventbox{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin:0;
  padding: 0;





}

.eventbox img{
  width: 35%;
  height: 100%;
  padding:0;
  margin: 16px;
}

.eventbox .mobileimg{
  display: none;
}
.textbox a{


}

/* Keep Practicing >480px mobile */

@media screen and (max-width: 480px){

  .container2aleft{
    display: none;
  }

  .container2{
    width: 100%;
    margin: 0;
    padding:0;

  }
  .container2a{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .container2aright .textbox{
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color: #22264b;



  }
  .container2aright .textbox h4{
      color:#e8edf3;
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
  }




  .container2aright{
    width:100%;
    margin: 16px 16px 64px 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2aleft img{
    width: 100%;


  }

  .eventbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: none;
    margin: 16px 16px 64px 16px;

  }

  .eventbox img{
    width: 100%;
    height: auto;
  }

  .eventbox .mobileimg{
    display: block;
  }
  .eventbox .desktopimg{
    display: none;
  }
}


/* Start Learning Section */

.container3a h1{
  width: ;
  margin: 0 20rem;
  padding: 32px 0;
  font-weight: bold;
}

.container3{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.container3 #startlearning{
  width:100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin:0;
  font-weight: bold;
}

.coursebox{
  width: 30%;
  height: auto;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  padding-bottom: 24px;

}
.coursebox img{
  width: 100%;
  height: auto;

}
.coursebox h4 , h5 , p{
  padding: 0;
  margin: 0.5rem 0;

}









/* Start Learning >480px mobile */
@media screen and (max-width:480px){
  .container3 .coursebox .desktop{
    display: none;
  }

  .container3 .coursebox{
    background-color: grey;
    width: 100%;
    margin: 16px 8px 8px 8px;
    padding: 0;

  }
  .container3 .coursebox img{
    display: none;
  }

  .container3{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

}


/* Thesis section */
.container4{
  width: 100%;
  margin: 0;
  padding:0;
  display: block;
}
.container4a{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;

}
.container4 h1{
  width: 100%;
  text-align: center;
  margin: 32px 0;


}

.container4aleft h1{
  width: 100%;
  text-align: left;
  margin: 32px 0;
}

.container4aleft{
  width: 60%;
  margin: 32px 24px;
}
.container4aright{
  width:40%;
  margin: 15px 0 0 0;
  padding: 0;
}

.container4aleft video{
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

}
.container4aleft h1 , p{
  padding: 0;
  margin: 0;
}
.container4aleft h1{

  margin: 24px 0 8px 0;
}
.container4aleft p{

  margin: 0 0 32px 0;

}

.container4aright .eventbox{
  padding-bottom: 1.08px;
}

.container4aright .textbox h4{


}
.container4aright .textbox p{

}

.container4aright .textbox a{

  font-weight: bold;
  text-decoration: none;
}


/* Thesis mobile section */
@media screen and (max-width: 480px){
  .container4aright{
    display: none;
  }

  .container4aleft{
    width: 100%;
    margin: 0;
    padding: 0;

  }
  .container4{
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .container4aleft video{
    width: 100;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .container4aleft h4 , p{
    display: none;
  }
}
